{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
<h3>Welcome to the Tethys app for HydroShare Python API Demonstration</h3>

<h4>Introduction to HydroShare</h4>
<h5>What is HydroShare?</h5>
<p>HydroShare is the Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI)'s web based hydrologic information system for users to share and publish data and models in a variety of flexible formats, and to make this information available in a citable, shareable and discoverable manner. It enables users to collaborate and work as teams in a web based collaborative environment, thereby enhancing research, education and application of hydrologic knowledge. Hydroshare includes tools (web apps) that can act on content in HydroShare providing users with a gateway to computing and analysis. HydroShare is being developed by a CUAHSI team supported by National Science Foundation awards ACI-1148453, ACI-1148090, EAR-1338606, OAC-1664018, OAC-1664061, OAC-1664119.

  CUAHSI is an organization representing more than 130 U.S. universities and international water-science-related organizations and is sponsored by the National Science Foundation to provide infrastructure and services to advance the development of hydrologic science and education in the United States.</p>

<h5>What can I use HydroShare for?</h5>
<p>Some of the uses we designed HydroShare to support include:

    <mark>Save your data online and share them to collaborate with and get feedback from other people</mark>
    HydroShare provides the ability to upload and store your data and corresponding metadata online. Users can control viewing and access permissions, and enable viewers to comment on the shared data and models. This helps users connect with the data user community, collaborate and receive constructive feedback about their work.
    
    <mark>Permanently publish your data and models and obtain a citable Digital Object Identifier (DOI) to get credit for your data and models</mark>
    Data and models uploaded into HydroShare are assigned citation information. Users may permanently publish and obtain a citable digital object identifier (DOI) for resources in HydroShare. Once permanently published, resources  may no longer be edited or changed to support reproducibility of results based on them.
    
    Easily access hydrologic data and models
    HydroShare provides discovery functions to help users find data and models in HydroShare. These data and models are from a wide range of users.
    
    Collaborate with other people for hydrological research
    HydroShare provides communication features similar to that of social media platforms to enhance collaborations for hydrologic research. Users are able to create or join groups with common research interests. Ratings and comments on data provide useful feedback to other users. Sharing and privacy controls within HydroShare, enable researchers to keep their data private from the public or make their data available to only designated users and groups. These controls enable researchers to retain data privacy for when publications are still under review but then easily publish the data when the associated paper is published.</p>
  
{% endblock %}

{% block app_actions %}
{% endblock %}

