{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Add file</h1>
  <form id="add-dam-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% gizmo username_input %}
    {% gizmo password_input %}
    {% gizmo title_input %}
    {% gizmo resourcein_input %}

    <input id="add-file" type="file" name="addfile"/>
    

  </form>
{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo add_button %}
{% endblock %}

