{% extends "tethys_apps/app_base.html" %}

{% load static %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}" />
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Manage HydroServers">
</div>
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="This app is focussed to execute all of the Python API functions">
	<a href="https://www.hydroshare.org/home/"><span class="glyphicon glyphicon-info-sign"></span></a>
</div>
{% endblock %}
 

{% block app_navigation_items %}

  <li class="title"></li>
  

{% url 'hydroshare_python:about' as about_url %} 
 <li class="{% if request.path == about_url %}active{% endif %}"><a href="{{ about_url }}">About <mark>HydroShare</mark></a></li> 

{% url 'hydroshare_python:get_file' as get_file_url %}  
  <li class="{% if request.path == get_file_url %}active{% endif %}"><a href="{{ get_file_url }}">1. Create a resource</a></li>  
{% url 'hydroshare_python:add_file' as add_file_url %}  
  <li class="{% if request.path == add_file_url %}active{% endif %}"><a href="{{ add_file_url }}">2. Add file</a></li>   
{% url 'hydroshare_python:delete_resource' as delete_resource_url %}  
  <li class="{% if request.path == delete_resource_url %}active{% endif %}"><a href="{{ delete_resource_url }}">3. Delete Resource</a></li>  
{% url 'hydroshare_python:delete_file' as delete_file_url %} 
  <li class="{% if request.path == delete_file_url %}active{% endif %}"><a href="{{ delete_file_url }}">4. Delete a file</a></li>
{% url 'hydroshare_python:find_resource' as find_resource_url %} 
  <li class="{% if request.path == find_resource_url %}active{% endif %}"><a href="{{ find_resource_url }}">5. Browse for a resource</a></li> 
{% url 'hydroshare_python:download_file' as download_file_url %} 
  <li class="{% if request.path == download_file_url %}active{% endif %}"><a href="{{ download_file_url }}">6. Download a File</a></li> 
    
  <li class="separator"></li>
  <li class="title"><a href="/apps/hydroshare-python/">Map Visualization(work in progress)</a></li>
  <li>
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'hydroshare_python/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
{% endblock %}