{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}
{% load static %}


{% block app_content %}
  <h1 style="color:rgb(95, 4, 4);">Delete a File from a Resource</h1>

  <p>This app is in development stage and so the browse for resource option is still under development</p>
  <p>But this feature works smoothly without any glitches, just try copying the resource id from the HTTP hyperlink when you open your resource in Hydroshare.</p>
  <img src="{% static 'hydroshare_python/images/resourceid.jpeg'%}" alt="Resource ID" height="50">
  <p>Like for example, this is an example hyperlink https://www.hydroshare.org/resource/08c6e88adaa647cd9bb28e5d619178e0/ from which the 32 letter combination at the end is called the resource id. And so the resource id from the example hyperlink is <mark>08c6e88adaa647cd9bb28e5d619178e0</mark> </p>
  <button id="jsfile"><a id="jsfile" href="{% static 'hydroshare_python/js/second.js'%}" download>Download javaScript file</a></button>
  <form id="add-dam-form" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}


    {% gizmo username_input %}
    {% gizmo password_input %}
    {% gizmo resourcein_input %}
    <button type="button" id="fetchfile">Find files</button>
    <select name="title_input" id="title_input">
        <option>Select a file</option>
    </select>
  </form>


    <pre class="line-numbers">
      <code class="language-python">
        auth = HydroShareAuthBasic(username= username, password= password)
        hs = HydroShare(auth=auth)
        resource_id = hs.deleteResourceFile(resourcein, title)
        return redirect(reverse('hydroshare_python:home'))
      </code>
    </pre>
    
    

  
{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo delete_button %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'hydroshare_python/js/second.js' %}" type="text/javascript"></script>
  {% endblock %}