{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}
{% load static %}

{% block app_content %}
  <h1 style="color:rgb(95, 4, 4);">Download a Resource</h1>
  <p></p>
  <form id="add-dam-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>The way you could go about performing this function is by following the instructions below:</p>
    <h3>Step 1: Sign into HydroShare using your credentials</h3>
    

    <p>In the boxes below you enter your HydroShare username and its password. If you have to make an HydroShare account, <a href="https://www.hydroshare.org/sign-up/?next=">click here</a>.</p>
    {% gizmo username_input %}
    {% gizmo password_input %}
    <p></p>
    <p>This feature is to download the contents of a resource. The resource is zipped and downloaded, using a api from the HydroShare python library. The files can be extracted once they are downloaded.  </p>
    <p></p>
    <h3>Step 2: Enter in the Resource ID and choose the file you wish to upload</h3>
  
    <p>The resource Id is a unique identifier for every resource on Hydroshare. You can findit by browsing to your HydroShare resource copying the ID from the URL. Like for example, this is an example hyperlink https://www.hydroshare.org/resource/08c6e88adaa647cd9bb28e5d619178e0/ from which the 32 letter combination at the end is called the resource id. And so the resource id from the example hyperlink is <mark>08c6e88adaa647cd9bb28e5d619178e0</mark> </p>
    <img src="{% static 'hydroshare_python/images/resourceid.jpeg'%}" alt="Resource ID" height="30">
    <p></p>
    <p>Here is where you enter the Resource ID </p>
    {% gizmo title_input %}
    <p></p>
    
    {% gizmo download_button %}
    

  </form>
  <p></p>
 
  <h4>Learn more:</h4>
  <p>To try this on your own, you can use the code snippet below that is used in this demonstration.</p>
  <pre class="line-numbers">
    <code class="language-python">
        auth = HydroShareAuthBasic(username= username, password= password)
        hs = HydroShare(auth=auth)
        fpath='/tmp/%s.zip' % title
        hs.getResource(title, destination='/tmp')

        wrapper = FileWrapper(open(os.path.abspath(fpath), 'rb')) 
        response = HttpResponse(wrapper, content_type='text/plain') 
        response['Content-Disposition'] = 'attachment; filename=%s' % os.path.basename(fpath) 
        response['Content-Length'] = os.path.getsize(fpath)
        return response

    </code>
  </pre>
  <p></p>
 <p></p>
{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
  
{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="{% static 'hydroshare_python/js/createresource.js' %}" type="text/javascript"></script>
{% endblock %}
