{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Add file</h1>

  <p>This app is in development stage and so the browse for resource option is still under development</p>
  <p>But this feature works smoothly without any glitches, just try copying the resource id from the HTTP hyperlink when you open your resource in Hydroshare.</p>
  <p>Like for example, this is an example hyperlink https://www.hydroshare.org/resource/08c6e88adaa647cd9bb28e5d619178e0/ from which the 32 letter combination at the end is called the resource id. And so the resource id from the example hyperlink is <mark>08c6e88adaa647cd9bb28e5d619178e0</mark> </p>
 
  <form id="add-dam-form" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}

    {% for entry in resourcesv %} 
    <i><b>Name:</i></b> {{ entry.name }}
    <br>{% endfor %}
    {% gizmo username_input %}
    <input type="password" name = password>
    
    

  </form>
{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo add_button %}
{% endblock %}

