{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1 style="color:rgb(95, 4, 4);"Find Resource</h1>

  <p>This app is in development stage and so the browse for resource option is still under development</p>
  
  
  <form id="add-dam-form" method="post" enctype="multipart/form-data">
    
    {% csrf_token %}

    {% for entry in resourcesv %} 
    <i><b>Name:</i></b> {{ entry.name }}
    <br>{% endfor %}
    {% gizmo username_input %}
    <input type="password" name = password>
    
    

  </form>

  


{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo add_button %}
{% endblock %}

