{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Create a resource</h1>
  <p>This feature in the app will help with creating a resource in Hydroshare </p>
  <form id="add-dam-form" method="post">
    {% csrf_token %}
    
    {% gizmo username_input %}
    <input type="password" name = password>
    {% gizmo author_input %}
    {% gizmo coauthor_input %}
    {% gizmo title_input %}
    {% gizmo owner_input %}
    {% gizmo date_built_input %}

    

  </form>
{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo add_button %}
{% endblock %}