{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block app_content %}
  <h1>Create a resource</h1>
  <p>This feature in the app will help with creating a resource in Hydroshare </p>
  <form id="add-dam-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% gizmo username_input %}
    <input type="password" name = password>
    {% gizmo author_input %}
    {% gizmo coauthor_input %}
    {% gizmo title_input %}
    {% gizmo owner_input %}
    {% gizmo date_built_input %}

    {% gizmo fname_input %}
    <input id="uploaded-file" type="file" name="uploadedfile"/>

    

  </form>

  <pre class="line-numbers">
    <code class="language-python">
      auth = HydroShareAuthBasic(username= username, password= password)
      hs = HydroShare(auth=auth)
      abstract = date_built
      keywords = owner.split(', ')
      rtype = 'GenericResource'
      fpath = temp_zip_path #fpath = 'tethysapp/geocode/workspaces/app_workspace/output.txt'
      metadata = '[{"coverage":{"type":"period", "value":{"start":"01/01/2000", "end":"12/12/2010"}}}, {"creator":{"name":"'+author+'"}}, {"creator":{"name":"'+coauthor+'"}}]'
      extra_metadata = '{"key-1": "value-1", "key-2": "value-2"}'
      resource_id = hs.createResource(rtype, title, resource_file=fpath, keywords=keywords, abstract=abstract, metadata=metadata, extra_metadata=extra_metadata)
      return redirect(reverse('hydroshare_python:home'))
    </code>
  </pre>
{% endblock %}

{% block app_actions %}
  {% gizmo cancel_button %}
  {% gizmo create_button %}
{% endblock %}