{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Welcome to the Hydroshare app from Tethys</h1>
  <p>The features of hydroshare made available on this tethys app using the python api from hydroshare</p>
  <h1>Create a Resource<h1>
    <p>1. After installing the app on your local, enter in yur username and password in line 10 of the controllers.py file. </p>
    <p>2. Then you can go ahead and type the path in the fpath location found in line 150 and save the changes made in the file.</p>
    <p>3. Now click on the Create Resource button and enter the data in the boxes as mentioned and click on the 'Add+' button found int bottom right of the page.</p>
    <p>4. You can see the new Resource created in your Hydroshare account</p>
    <p></p>
  <h1>Add a file to the created resource<h1>
    <p>1. After successfully creating a resource in your Hydroshare account, copy the 32 element resource id that shows up on the hyperlink of the http. (for example; <mark>https://www.hydroshare.org/resource/9f0e6230688d4a95842880029d17e003/ </mark></p>
    <p>2. Go ahead and paste that resource id in the fpath found in line 255 of controller.py file </p>
    <p>3. Save the changes to the file and refresh the app. </p>
    <p>4. Now click on the Add file button and enter the data in the box as mentioned and click on the 'Add+' button found in the bottom right of the page.</p>
    <p>5. You will now the see the file added to the respective resource as desired in Hydroshare </p>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  {% gizmo save_button %}
  {% gizmo edit_button %}
  {% gizmo remove_button %}
  {% gizmo previous_button %}
  {% gizmo next_button %}
{% endblock %}