{% extends "hydroshare_python/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Welcome to the Hydroshare app from Tethys</h1>
  <h2>Introduction to HydroShare</h2>
  <h2>What is HydroShare?</h2>
  <p>HydroShare is the Consortium of Universities for the Advancement of Hydrologic Science, Inc. (CUAHSI)'s web based hydrologic information system for users to share and publish data and models in a variety of flexible formats, and to make this information available in a citable, shareable and discoverable manner. It enables users to collaborate and work as teams in a web based collaborative environment, thereby enhancing research, education and application of hydrologic knowledge. Hydroshare includes tools (web apps) that can act on content in HydroShare providing users with a gateway to computing and analysis. HydroShare is being developed by a CUAHSI team supported by National Science Foundation awards ACI-1148453, ACI-1148090, EAR-1338606, OAC-1664018, OAC-1664061, OAC-1664119.

    CUAHSI is an organization representing more than 130 U.S. universities and international water-science-related organizations and is sponsored by the National Science Foundation to provide infrastructure and services to advance the development of hydrologic science and education in the United States.</p>
  
  <h2>What can I use HydroShare for?<h2>
  <p>Some of the uses we designed HydroShare to support include: </p>
  <p>Save your data online and share them to collaborate with and get feedback from other people
    HydroShare provides the ability to upload and store your data and corresponding metadata online. Users can control viewing and access permissions, and enable viewers to comment on the shared data and models. This helps users connect with the data user community, collaborate and receive constructive feedback about their work.</p>
  <p>Permanently publish your data and models and obtain a citable Digital Object Identifier (DOI) to get credit for your data and models
    Data and models uploaded into HydroShare are assigned citation information. Users may permanently publish and obtain a citable digital object identifier (DOI) for resources in HydroShare. Once permanently published, resources  may no longer be edited or changed to support reproducibility of results based on them.</p>
  <p>Easily access hydrologic data and models
    HydroShare provides discovery functions to help users find data and models in HydroShare. These data and models are from a wide range of users.</p>
  <p>Collaborate with other people for hydrological research
    HydroShare provides communication features similar to that of social media platforms to enhance collaborations for hydrologic research. Users are able to create or join groups with common research interests. Ratings and comments on data provide useful feedback to other users. Sharing and privacy controls within HydroShare, enable researchers to keep their data private from the public or make their data available to only designated users and groups. These controls enable researchers to retain data privacy for when publications are still under review but then easily publish the data when the associated paper is published.</p>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
  {% gizmo save_button %}
  {% gizmo edit_button %}
  {% gizmo remove_button %}
  {% gizmo previous_button %}
  {% gizmo next_button %}
{% endblock %}